@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Mona Sans';
  src:
    url('Mona-Sans.woff2') format('woff2 supports variations'),
    url('Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

html {
  font-family: 'Mona Sans';
}

:root{
    --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%

    font-family: 'Mona Sans', sans-serif;
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}
* {
    scroll-behavior: smooth;
  }

.dark {
  @apply bg-gray-900 text-white; 
}

.h-all{
  min-height: 100vh;
}

.bg-btn{
  background-color: #2c87ee;
}
.bg-search{
  background-color: #ffffff27;
}
.mona {
  text-decoration: none; 
  font-weight: normal;
}

.font-mona{
  font-family: 'Mona Sans';
}

.active{
  background-color: rgba(255, 255, 255, 0.181);
  padding: 10px 20px;
  border-radius: 20px;
}

.li-width{
  text-align: center;
  
}

.nav-sticky{
  background-color: rgba(18, 18, 41, 0.696);
}

label{
  color: white;
}

input{
  outline: none;
}

.flex-wrap{
  padding: 0 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: nowrap; */
}

.wrapping{
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-bottom: 5vh;
}

.col-white{
  color: white;
}

.disp-flex-col{
  display: flex;
  flex-direction: column;
}

.disp-flex-row{
  display: flex;
  flex-direction: row ;
}


.corpse{
  /* background-color: #2c87ee; */
  height: 100%;
  overflow: auto;
  /* padding-bottom: 1%; */
}

.corpse::-webkit-scrollbar{
  width: 0.5rem;
}
.corpse::-webkit-scrollbar-thumb {
  background: #e1e1e176;
  border-radius: 10px;
  visibility: hidden;
}
.corpse:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}


.NavBarUserContainer{
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.UserInfo{
  font-size: 20px;
}

.MainProdContainer{
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  height: 100%;
}

.SearchContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: sticky;
  z-index: 5;
  top: 0;
  width: 100%;
  max-width: inherit;
  padding: 2% 0;
  /* margin-bottom: 3%; */
  border: none;
}
.SearchInput{
  padding: 5px 15px;
  background: none;
  border: none;
  border-bottom: rgb(158, 157, 157) .5px solid ;
  width: 180px;
  margin-right: 10px;
}
.SearchInput:focus{
  outline: none;
}

.getstarted{
  padding: 12px 30px;
}

.ProdContentContainer{
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.073); */
  /* padding-top: 15px; */
  /* border-radius: 20px; */
}

.ProdContent{
  /* width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(300px,1fr));
  grid-column-gap: 16px ;
  grid-row-gap: 40px;
  margin-top: 15px;
}

.Product{
  display: flex;
  justify-content: center;
  width: 100%;
}

.CardMain{
  width: 300px;
  min-height: 120px;
  cursor: pointer;
  border-radius: 20px;
  background-color: #ffffff17;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
}

#CardMainAdd{
  font-size: 100px;
  color: #f0f8ffa8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CardMain:hover{
  background-color: #ffffff27;

}
.statutisavalaible{
  color:rgb(27, 221, 44);
  margin-top: 2px;
  background-color: rgba(105, 172, 105, 0.4);
  width: 80px;
  border-radius: 1rem;
}
.statutisdisabled{
  color:rgb(223, 73, 46);
  margin-top: 2px;
  background-color: rgba(172, 115, 105, 0.4);
  width: 80px;
  border-radius: 1rem;
  
}


.card {
  --accent-color: #ffffff27;
  position: relative;
  width: 240px;
  background: #ffffff17;
  border-radius: 1rem;
  padding: 0.3rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 50px 30px -20px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  padding: 15px 10px;
}

.card .image-container {
  position: relative;
  width: 100%;
  height: 130px;
  border-radius: 0.7rem;
  border-top-right-radius: 4rem;
  margin-bottom: 1rem;
}
.CardPicContainer{
  background-color: #070707;
  position: relative;
  width: 100%;
  border-radius: 0.7rem;
  height: 130px;
  border-top-right-radius: 4rem;
  margin-bottom: 1rem;
}



.card .image-container .svg {
  height: 100%;
  width: 100%;
  border-radius: inherit;
}

.card .image-container .price {
  position: absolute;
  right: 0.7rem;
  bottom: -1rem;
  background: #ffffff17;
  color:white;
  font-weight: 900;
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 1rem 1rem 2rem 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 15px 0px;
}

.card .favorite {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.card .favorite input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}



.card .favorite svg {
  fill: #a8a8a8;
}

.card .content {
  padding: 0px 0.8rem;
  margin-bottom: 1rem;
}

.card .content .brand {
  font-weight: 900;
  color: #a6a6a6;
}

.card .content .product-name {
  font-weight: 700;
  color: #666666;
  font-size: 0.7rem;
  margin-bottom: 1rem;
}



.card .content .color-size-container > * {
  flex: 1;
}



.card .content .rating {
  color: #a8a8a8;
  font-size: 0.6rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card .content .rating svg {
  height: 12px;
}

.card .button-container {
  display: flex;
  gap: 0.3rem;
}

.card .button-container .button {
  border-radius: 1.4rem 1.4rem 0.7rem 0.7rem;
  border: none;
  padding: 0.5rem 0;
  background: var(--accent-color);
  color: white;
  font-weight: 900;
  cursor: pointer;
}

.card .button-container .button:hover {
  background: #ffffff27;
  border: 1px solid white;
  
}

.card .button-container .buy-button {
  flex: auto;
}

.card .button-container .cart-button {
  display: grid;
  place-content: center;
  width: 50px;
}

.card .button-container .cart-button svg {
  width: 15px;
  fill: white;
}

.card:hover {
  transform: scale(1.03);
}

@keyframes bouncing {
  from, to {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1.5, 2.1);
  }

  50% {
    transform: scale(2.1, 1.5);
  }

  75% {
    transform: scale(1.5, 2.05);
  }
}

.CardName{
  /* margin-left: 10px; */
  /* display: flex;
  justify-self: center;
  flex-wrap: wrap; */
  /* width: 150px;
  height: 70px; */
  width: 100%;
  height: 40px;
  font-size: 18px;
  font-weight:bold;
  margin: 15px 0px;
  overflow-y: auto;
  column-count: auto;
  break-inside: avoid-column;
  text-align: center;
}

.CardName::-webkit-scrollbar{
  width: 0.5rem;
}
.CardName::-webkit-scrollbar{
  width: 0.5rem;
}
.CardName::-webkit-scrollbar-thumb {
  background: #e1e1e176;
  border-radius: 10px;
  visibility: hidden;
}
.CardName:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.CardDetailsContainer{
  /* padding: 0 20px; */
  width: 100%;
  height: 70px;
  /* width: 100%;
  height: 60px;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
  grid-row-gap: 10px;
}

.CardPrice,.CardStock{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Price,.Stock{
  width: 100%;
  height: 30px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  padding: 5px 0;
  column-count: auto;
  break-inside: avoid-column;
}
.StockNumber{
  text-align: center;
}
.CardButtons{
  margin-top: 12px;
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

::-webkit-scrollbar{
  visibility: hidden;
}






.MainCartContainer{
  padding: 0 5%;
  padding-top: 2%;
  /* min-width: 750px; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
}

.CartItemsContainer{
  /* flex: 1 1 0; */
  /* background-color: rgb(145, 107, 57); */
  width: 65%;
  height: 100% ;
  overflow-y: auto;
  padding: 0 3%;
}


.CartItemsTitle{
  /* background-color: aliceblue; */
  /* display: flex;
  justify-content: center; */
  padding-left: 5%;
  font-size: 22px;
  padding-bottom: 1.5% ;
  position: sticky;
  top: 0;
  z-index: 4;
}

.CartItems{
  background-color: rgba(255, 255, 255, 0.091);
  width: 100%;
  margin-bottom: 16px;
  padding: 2% 5%;
  border-radius: 20px ;
  min-height: 90px;
}


.CartSummaryContainer{
  flex: 1 1 0;
  padding-left: 5%;
  /* width: 40%; */
  /* background-color: cadetblue; */
}

.SummaryContent{
  /* background-color: aqua; */
  width: 100%;
  height: 100%;
  /* min-width: 250px; */
}

.SummaryCorpse{
  /* height: 100%; */
  width: 90%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.SummaryInfo{
  margin: 25px 0;
  font-size: 18px;
}

.flex-spcbtwn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  margin-bottom: 12px;
}

.SummaryButtons{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.SummaryValue{
  color: rgba(253, 253, 253, 0.664);
  font-weight: 300;
  max-width: 200px;
  text-align:end;
}

.SummaryValidate{
  width: 40%;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.911);
  color: rgba(16, 16, 16, 0.836);
  font-weight: 600;
}


.HzCardMain{
  /* background-color: red; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
  flex-wrap: wrap;
  /* height: 80vh; */
}

.hzCardDescri{
  display: flex;
  flex-direction: column;
  width: 40%;
}

.HzCardItemInfo{
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-between; */
}

.HzCardEngName{
  font-size: 18px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.845);
}

.HzCardPrice{
  color:rgba(226, 226, 226, 0.629);
  font-size: 16px;
  font-weight: 400;
  width: 30%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.HzCardDetails{
  padding-left: 5%;
  color:rgba(226, 226, 226, 0.858);
}

.HzCardButtons{
  flex: 1 1 0;
  /* height: 100%; */
  padding: 1% 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.RentalsMainContainer{
  width: 100%;
  height: 100%;
  padding-top: 3%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
}

.RentalsContentContainer{
  width: 60%;
  height: 100%;
  /* background-color: aqua; */

}

.PopUp{
  /* display:none; */
  background-color: #0000008b;
  backdrop-filter: blur(2px) ;
  flex-direction: column;
  /* color: white; */
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 10;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  transition: opacity 2s ease;;
}

.PopUpWrapper{
  min-width: 28vw;
  display: flex;
  justify-content: center;
}


.LoginWrapper{
  /* background-color: aqua; */
  min-height:60vh;
  min-width: 25vw;
  /* width: 450px; */
  /* box-shadow: ; */
}

.PopUpContainer{
  background-color: #3d3d3e85;
  backdrop-filter: blur(50px) ;
  border-radius: 20px;
  padding: 12px 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.129);
}

.LogInTitle{
  color: rgba(255, 255, 255, 0.871);
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 8%;
}


.LoginForm{
  display: flex;
  flex-direction: column;
}


.LoginInputs{
  /* background-color: rgba(183, 183, 183, 0.867); */
  /* background: transparent; */
  background-color: rgba(250, 250, 250, 0.921);
  /* border: 0.1px solid rgb(255, 255, 255) ; */
  /* outline: #2c87ee 2px solid; */
  padding: 0 12px;
  border-radius: 10px;
  height: 40px;
  margin-bottom: 10px;
}


.LogUserName{
  /* padding-bottom: 5%; */
}

.LogPasswd{
  /* padding-bottom: 5%; */
}

.btnLogRegister{
  margin-top: 5%;
  font-size: 17px;
}


.LoginRegister{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  color: white;
  margin-top: 5%;
  padding: 5% 0;
  font-size: 17px;
  /* background-color: red; */
  /* border-top: rgba(255, 255, 255, 0.75) solid 2px; */
}

.RegisterText{
  color: #419aff;
  padding-left: 2%;
}
.RegisterText:hover{
  color:#3685de
}






@media(max-width:700px){
  .MainCartContainer{
    /* display: none; */
    flex-direction: column !important;
    align-items: center;
  }

  .CartSummaryContainer{
    padding-left: 0;
    width: 60%;
  }

  .SummaryContent{
    min-width: none !important;
    width: 100%;
    padding-top: 3%;
  }

  .SummaryInfo{
    margin: 10px 0;
  }
  
  .HzCardButtons{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

}
