@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Mona Sans';
  src:
    url('Mona-Sans.woff2') format('woff2 supports variations'),
    url('Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

html {
  font-family: 'Mona Sans';
}

:root{
    --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%

    font-family: 'Mona Sans', sans-serif;
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}
* {
    scroll-behavior: smooth;
  }
  .dark {
    @apply bg-gray-900 text-white; 
  }
  .bg-btn{
    background-color: #2c87ee;
  }
  .mona {
    text-decoration: none; 
    font-weight: normal;
  }
  .font-mona{
    font-family: 'Mona Sans';
  }
  
  

  